/*makes images scale with screen size*/
/*img {*/
    /*max-width: 100%;*/
    /*height: auto;*/
    /*vertical-align: top;*/
/*}*/

.standard_font{
    font-family: "Bodoni 72 Oldstyle";
}


.event_list{
    text-align:center;
    font-size: 30px;
    font-family: "Bodoni 72 Oldstyle";
    color: black !important;
}

#event{
    /*background-color: powderblue;*/
    border-style: groove;
}

.upcoming_event{
    border-style: dotted;
}


.event_description{
    font-size: calc(12px + 0.6vw);
}

.rating_instance{
    padding: 10px;
}
a {
    color: initial;
}

/*sidebar*/
.mostRecentEvent{
    color: #1b8dbb;
    font-size: calc(21px + 0.09vw);
}

#sidebar_event{
    font-size: calc(16px + 0.09vw);

}

#sidebar_drink{
    font-size: calc(14px + 0.09vw);
}

.drink_list{
    font-family: "Bodoni 72 Oldstyle";
}

a.md-default-theme:not(.md-button), a:not(.md-button) {
    color: #204d74;
}


@media screen and (max-width: 767px) {
    .upcoming_event{
        text-align: center;
}
}

/*event lineup images*/
.event_lineup_image{
    vertical-align: top;
    max-width: 100%;
    height: auto;
}