/*makes images scale with screen size*/
/*img {*/
    /*max-width: 100%;*/
    /*height: auto;*/
    /*vertical-align: top;*/
/*}*/

.standard_font{
    font-family: "Bodoni 72 Oldstyle";
}


a {
    color: initial;
}

a.md-default-theme:not(.md-button), a:not(.md-button) {
    color: #204d74;
}


@media screen and (max-width: 767px) {
    .upcoming_event{
        text-align: center;
}
}

/*event lineup images*/
.event_lineup_image{
    vertical-align: top;
    max-width: 100%;
    height: auto;
}