{% load staticfiles %}

<!DOCTYPE HTML>
<html ng-app="drinkProj">
    <head>
        <title>Drink Rating Project</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/drinkproj.css' %}">

        {#loads things needed for angular#}
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-sanitize.min.js'></script>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.1.2/textAngular.min.js'></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
        <script type =text/javascript src="{% static 'js/app.js' %}"></script>
        <script src="{% url 'ratings_list' %}"></script>
{#        this is a test file#}
        <script src="{% static 'test2.json' %}"></script>
    </head>



    <body ng-controller="ProjectController as project">
        <div class="header">
            <div class="logo col-xs-4">
                <a href="https://www.brightscope.com/">
                    <img src="https://d28wdra5vrkblv.cloudfront.net/media/consumer/img/logos/logo_bs_color_2x-1.38e83716c85e.png">
                </a>
            </div>
            <div class="base_title col-xs-8">
                <p id = title_text><a href="{% url 'home' %}">Drink Rater</a></p>

            </div>
        </div>
        <div>
            {% block content %}
            {% endblock %}
        </div>

    </body>
</html>