{% load staticfiles %}

{#loads things needed for angular#}
 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-sanitize.min.js'></script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.1.2/textAngular.min.js'></script>
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

{#following allows us to use {$ $} to read angular instead of {{  }}   #}
<script type="text/javascript">
angular.module('SSS', ['ngMaterial', 'textAngular', 'ngMessages'])
      .config(function($mdThemingProvider) {
        $mdThemingProvider.theme('default')
          .primaryPalette('deep-orange')
        })
      .config(function($interpolateProvider) {
          $interpolateProvider.startSymbol('{$');
          $interpolateProvider.endSymbol('$}');
        })
      .config(['$httpProvider', function($httpProvider) {
          $httpProvider.defaults.xsrfCookieName = 'csrftoken';
          $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
      }])
</script>

<html>
    <head>
        <title>Drink Rating Project</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/drinkproj.css' %}">
    </head>
</html>


<body>
    <div class="header">
        <div class="logo col-md-4">
            <a href="https://www.brightscope.com/">
                <img src="https://d28wdra5vrkblv.cloudfront.net/media/consumer/img/logos/logo_bs_color_2x-1.38e83716c85e.png">
            </a>
        </div>
        <div class="base_title col-md-4">
            <p id = title_text><a href="{% url 'home' %}">Drink Rater</a></p>

        </div>
    </div>
    <div>
        {% block content %}
        {% endblock %}
    </div>

</body>
