{% extends 'drinkproj/base.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% load thumbnail %}


{% block content %}
    {# following class drink_id is used in app.js#}
    <span class="drink_id" style = "display:none">{{ drink.id }}</span>
    <span class="ip"style="display:none">{{ ip_address }}</span>

    {#    displays drink description and manufacturer#}
    <div class="col-xs-6">
        <h3>Manufacturer: {{ drink.manufacturer }}</h3>
        <h4>Description: {{ drink.description }}</h4>

    </div>

{#    Folowing div displays drink thumbnail and overall rating#}
    <div class="container-fluid drink_info_container">
    <div class="col-xs-6">
        <div class="standard_font">
            <div class="drink">
                <h2>{{ drink }}</h2>
            </div>
        </div>
        <div class="drink_thumb">
            {% if drink.image.url != None %}
                <img src="{{ drink.image.url }}"/>
            {% endif %}
        </div>

{#Displays rating#}
{#        <form method="post" class="col-xs-12" ng-submit="submit()" ng-controller="ProjectController">#}
{#            {% csrf_token %}#}
    <div ng-controller="ProjectController">
        <div class="standard_font">
            <h2 id="overall_rating" ng-show="numOfRatings > 0">Rating: {$ avg_rating $} of 5 stars</h2>

            <p>{$ numOfRatings $} reviews</p>
        </div>


{#    post method for angularjs(front end)#}
{#    to make work, uncomment this form_method and comment out the other one#}
{#    then comment back in hte submit function in app.js and comment out the try/except method in views.py api_views#}
{#        <form method="post" class= col-xs-12 ng-submit="submit()" ng-controller="ProjectController">#}

{#    Post method for view (backend)#}
    <form method="post" class="col-xs-12" ng-submit="submit()">
            {% csrf_token %}
            comment
            <input type="text" ng-model="comment" name="comment" ng-init="comment=''" /><br>
            rating
            <select ng-model="rating" name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <input type="submit" id="submit" value="Submit" />
    </form>

{#        Display comments#}
        <div ng-repeat="comment in comments_data | orderBy: '-post_date'">
            <div class="rating_instance">
                <h6 id="rating_style">{$ comment.rating $} out of 5 Stars</h6>
                <p id ="comment_style">{$ comment.comment $}</p>
            </div>
        </div>

    </div>
    </div>
    </div>

{% endblock %}