{% extends 'drinkproj/base.html' %}
{% load staticfiles %}
{%  load rest_framework %}


{% block content %}
    {# following class drink_id is used in app.js#}
    <script class="drink_id">{{ drink.id }}</script>
    <script class="ip">{{ ip_address }}</script>

    <div class="col-xs-12">
        <div class="drink">
            <h2>{{ drink }}</h2>
        </div>

        {% if drink.image.url != None %}
            <img src="{{ drink.image.url }}"/>
        {% endif %}

{#    currently this is a placeholder for rating. Rating will be the average of all combined ratings for specific drink#}
        <h3>Rating: {$ avg_rating $} out of 5 stars</h3>
{#        <form method="POST" class="rate-form">#}
        <form ng-submit="submit()" ng-controller="ProjectController">
            {% csrf_token %}
            comment
            <input type="text" ng-model="comment" name="comment" /><br>
{#            drink#}
{#            <input type="number" ng-model="drink" name="drink" /><br>#}
            rating
{#            <input type="number" ng-model="rating_choices" name="rating_choices" /><br>#}
            <select ng-model="rating" name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <input type="submit" id="submit" value="Submit" />
        <div ng-repeat="comment in comments_data | orderBy: '-post_date'">
            <div class="rating_instance">
                <h4>{$ comment.rating $} out of 5 Stars</h4>
                <p>{$ comment.comment $}</p>
            </div>
        </div>
        </form>
    </div>
{% endblock %}