{% extends 'drinkproj/base.html' %}
{% load staticfiles %}
{%  load rest_framework %}


{% block content %}
    <div class="col-xs-12">
        <div class="drink">
            {{ drink }}
        </div>

        {% if drink.image.url != None %}
            <img src="{{ drink.image.url }}"/>
        {% endif %}

{#    currently this is a placeholder for rating. Rating will be the average of all combined ratings for specific drink#}
        <h4>Rating: 5 out of 5 stars</h4>

        <form method="POST" class="rate-form">{% csrf_token %}
{#            <div>{{ form.as_p }}</div>#}
{#            <button type="submit" class="save btn btn-default">Submit</button>#}
{#            following is a test for submitting a form directly to rest framework#}
{#            {% render_form serializer %}#}
            <input type="submit" value="save">
        </form>
        <div ng-repeat="comment in comments_data">
            <p>{$ comment.comment $}</p>
        </div>
    </div>
{% endblock %}