{% extends 'drinkproj/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="col-md-8">
        <h1>{{ event.event_name }}</h1>
    </div>
{#    <div class="col-md-4">#}
{#        <a href="{% url 'rate' id=event.id %}">Rate Drinks</a>#}
{#    </div>#}

    <div class="col-md-12">
    {% for item in items %}
        <h4 class="item">{{ item.drink }}</h4>
        <a href="{% url 'drink_info' id=item.drink_id %}">Rate</a>
        {% if item.drink.image.url != None %}
            <img src="{{ item.drink.image.url }}"/>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}