{% extends 'drinkproj/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="col-md-8">
        <h1>{{ event.event_name }}</h1>
    </div>
    <div class="col-md-12">
    {% for item in items %}
        <h4 class="item">{{ item.drink }}</h4>
            {% if item.drink.image.url != None %}
                <img src="{{ item.drink.image.url }}"/>
        {% endif %}
        <div>
            <p id="rate_title">Rate:</p>
            <form method="POST" class="rate-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Submit</button>
            </form>
        </div>
        <img src="{{ drinks.image.url }}">
{#        rate drink form#}

    {% endfor %}
    </div>
{% endblock %}