{% load staticfiles %}

<html>
    <head>
        <title>Drink Rating Project</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/drinkproj.css' %}">
    </head>
</html>


<body>
    <div class="header">
        <div class="logo col-md-4">
            <img src="https://d28wdra5vrkblv.cloudfront.net/media/consumer/img/logos/logo_bs_color_2x-1.38e83716c85e.png">
        </div>
        <div class="base_title col-md-4">
                <p id = title_text>Drink Rater</p>

        </div>
    </div>

{#    <div class="header">#}
{#        <p>#}
{#            <div class ="logo col-md-4">#}
{#                <img src="https://d28wdra5vrkblv.cloudfront.net/media/consumer/img/logos/logo_bs_color_2x-1.38e83716c85e.png">#}
{#            </div>#}
{#            <div class="base_title col-md-4">#}
{#                Drink Rater#}
{#            </div>#}
{#        </p>#}
    </div>
</body>
